<%- include("templates/header") %>

<!-- Splide.js CSS -->
<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.4/dist/css/splide.min.css" rel="stylesheet">

<body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto py-8">
        <h1 class="text-4xl font-bold text-center mt-28 mb-8">Cybersecurity Packages</h1>
        <div id="carousel" class="splide w-3/4 mx-auto">
            <div class="splide__track">
                <ul class="splide__list">
                    <% for (const key in cybersecurities) { %>
                        <% const cybersecurity=cybersecurities[key]; %>
                            <li class="splide__slide p-4">
                                <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white mb-5 mx-auto"> <!-- Center the card -->
                                    <div class="px-6 py-4 text-center">
                                        <div class="font-bold text-xl mb-2">
                                            <%= cybersecurity.type %>
                                        </div>
                                        <p class="text-gray-700 text-base">
                                            Price: $<%= cybersecurity.price %>
                                        </p>
                                    </div>
                                    <!-- Display service and description of each feature -->
                                    <div class="px-6 pt-4 pb-2">
                                        <% for (const key in cybersecurity.features) { %>
                                            <% const feature=cybersecurity.features[key]; %>
                                                <div class="mb-2">
                                                    <span class="font-semibold">
                                                        <%= feature.service %>:
                                                    </span>
                                                    <span class="text-gray-600">
                                                        <%= feature.description %>
                                                    </span>
                                                </div>
                                                <% } %>
                                    </div>
                                </div>
                            </li>
                            <% } %>
                </ul>
            </div>
        </div>
    </div>
    <!-- Splide.js JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.4/dist/js/splide.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new Splide('#carousel', {
                type: 'loop',
                perPage: 1, // Show one full card and part of another on each side
                perMove: 1,
                autoplay: false,
            }).mount();
        });
    </script>
</body>
