<%- include('templates/header') %>
    <style>
        .hidden {
            display: none;
        }

        #filter {
            display: flex;
            flex-direction: column;
            position: absolute;
            background-color: white;
            color: black;
            border-radius: 100px;
            padding: 4px;
            padding-left: 12px;
            padding-right: 12px;
            width: 50px;
            height: 34px;
            transition-property: all;
            transition-duration: 0.5s;
        }

        .expand {
            border-radius: 10px !important;
            width: 410px !important;
            height: 200px !important;
        }
    </style>

    <!-- Title -->
    <div class="flex justify-center mt-28 mb-14">
        <h1 class="font-bold text-white text-4xl">Surveillance Drones</h1>
    </div>

    <div class="container mx-auto">
        <div class="flex justify-start mb-6 gap-4 w-[95%] px-2">
            <!-- Filter button -->
            <button class="" id="filter">
                <span class="material-symbols-outlined">
                    filter_alt
                </span>
            </button>
            <button class="invisible bg-white rounded-full pt-2 px-3">
                <span class="material-symbols-outlined">
                    filter_alt
                </span>
            </button>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const btn = document.getElementById('filter');
                    const initialHTML = btn.innerHTML;  // Store initial HTML
                    const initialWidth = btn.style.width;  // Store initial width
                    const initialHeight = btn.style.height;  // Store initial height

                    function expandFilter() {
                        btn.classList.toggle('expand');
                        if (btn.classList.contains('expand')) {
                            btn.removeEventListener('click', expandFilter);
                            setTimeout(() => {
                                btn.innerHTML = `
                                            <div class='w-full flex justify-start'>
                                                <button id='closeButton'>
                                                    <span class='material-symbols-outlined'>
                                                        close
                                                    </span>
                                                </button>
                                            </div>
                                            <div class='w-full flex flex-col gap-2'>
                                                <div>
                                                    <label for='priceRange'>Price: </label>
                                                    <input type='range' id='priceRange' name='priceRange' min='0' max='5000' value='0' oninput='this.nextElementSibling.value = this.value'>
                                                    <output>0</output>
                                                </div>
                                                <div>
                                                    <label for='manufacturerFilter'>Manufacturer</label>
                                                    <select id='manufacturerFilter'>
                                                        <option value=''>Select Manufacturer: </option>
                                                        <% uniqueManufacturers.forEach(manufacturer => { %>
                                                            <option value='<%= manufacturer %>'><%= manufacturer %></option>
                                                        <% }); %>
                                                    </select>
                                                </div>
                                                <div>
                                                    <label for='typeFilter'>Type: </label>
                                                    <select id='typeFilter'>
                                                        <option value=''>Select Type</option>
                                                        <% uniqueTypes.forEach(type => { %>
                                                            <option value='<%= type %>'><%= type %></option>
                                                        <% }); %>
                                                    </select>
                                                </div>
                                                <div class="flex justify-end">
                                                    <button id="filterOkButton" class="flex justify-center items-center w-10 bg-blue-500 text-white rounded px-4 py-2 mt-2">OK</button>
                                                </div>
                                            </div>
                                            `;
                                const closeBtn = btn.querySelector('#closeButton');
                                closeBtn.addEventListener('click', expandFilter);
                                const filterOkButton = btn.querySelector('#filterOkButton');
                                filterOkButton.addEventListener('click', filterDrones);
                            }, 500);
                        } else {
                            setTimeout(() => {
                                btn.addEventListener('click', expandFilter);
                            }, 500);
                            btn.innerHTML = initialHTML;
                            btn.style.width = initialWidth;
                            btn.style.height = initialHeight;
                        }
                    }
                    function filterDrones() {
                        const selectedType = document.getElementById('typeFilter').value;
                        const selectedManufacturer = document.getElementById('manufacturerFilter').value;
                        const price = document.getElementById('priceRange').value;

                        const queryParams = new URLSearchParams({
                            type: selectedType,
                            manufacturer: selectedManufacturer,
                            price: price
                        }).toString();

                        window.location.href = `/drones?${queryParams}`;
                    }

                    btn.addEventListener('click', expandFilter);
                });
            </script>

            <!-- Sort button with dropdown menu -->
            <div class="sort-options">
                <button id="sort" class="bg-white px-2 rounded-full ms-4">
                    <span class="font-bold text-gray-700 pt-1 material-symbols-outlined">Sort</span>
                </button>

                <!-- Sort options dropdown -->
                <div id="sort-options-container" class="hidden bg-white p-3 mx-4 text-center rounded-lg">
                    <button value="manufacturer" onclick="sortItems('manufacturer')">Manufacturer</button><br>
                    <button value="type" onclick="sortItems('type')">Type</button><br>
                    <button value="price-asc" onclick="sortItems('price-asc')">Price: Low to High</button><br>
                    <button value="price-desc" onclick="sortItems('price-desc')">Price: High to Low</button><br>
                </div>
            </div>
        </div>
    </div>

    <!-- Drones list -->
    <div id="drones-list" class="flex flex-wrap items-center">
        <% drones.forEach(function(drone) { %>
            <div class="item m-4 w-full bg-white h-full shadow-lg rounded-lg overflow-hidden text-center"
                data-manufacturer="<%= drone.manufacturer %>" data-type="<%= drone.type %>"
                data-price="<%= drone.price %>">
                <div class="p-6 flex justify-between flex-col">
                    <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">Model</h2>
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                        <%= drone.model %>
                    </h1>
                    <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">Manufacturer</h2>
                    <p class="leading-relaxed mb-3">
                        <%= drone.manufacturer %>
                    </p>
                    <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">Price</h2>
                    <p class="leading-relaxed mb-3">
                        $<%= drone.price %> / month
                    </p>
                    <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">Type</h2>
                    <p class="leading-relaxed mb-3">
                        <%= drone.type %>
                    </p>
                    <button type="button" data-modal-toggle="drone-modal"
                        class="flex bg-cyan-600 px-4 py-2 mt-2 mx-12 justify-center text-white font-bold rounded-full">Place
                        an Order</button>
                </div>
            </div>
            <% }); %>
    </div>

    <%- include('templates/modal', { modalId: 'drone-modal' , description: '(model description)' }) %>
        <%- include('templates/footer') %>

            <script>

                // Sort button click opens sort options
                document.getElementById('sort').addEventListener('click', function () {
                    const sortOptionsContainer = document.getElementById('sort-options-container');
                    if (sortOptionsContainer.classList.contains('hidden')) {
                        sortOptionsContainer.classList.remove('hidden');
                    } else {
                        sortOptionsContainer.classList.add('hidden');
                    }
                });

                let sortOrder = {
                    manufacturer: 'asc',
                    type: 'asc'
                };

                // Sort items based on selected criteria
                function sortItems(criteria) {
                    console.log(`Sorting by: ${criteria}`);
                    const items = document.querySelectorAll('.item');
                    const itemsArray = Array.from(items);
                    itemsArray.sort((a, b) => {
                        let aValue, bValue;
                        switch (criteria) {
                            case 'manufacturer':
                                aValue = a.dataset.manufacturer.toLowerCase();
                                bValue = b.dataset.manufacturer.toLowerCase();
                                break;
                            case 'type':
                                aValue = a.dataset.type.toLowerCase();
                                bValue = b.dataset.type.toLowerCase();
                                break;
                            case 'price-asc':
                                aValue = parseFloat(a.dataset.price);
                                bValue = parseFloat(b.dataset.price);
                                return aValue - bValue;
                            case 'price-desc':
                                aValue = parseFloat(a.dataset.price);
                                bValue = parseFloat(b.dataset.price);
                                return bValue - aValue;
                        }
                        if (sortOrder[criteria] === 'asc') {
                            if (aValue < bValue) return -1;
                            if (aValue > bValue) return 1;
                        } else {
                            if (aValue < bValue) return 1;
                            if (aValue > bValue) return -1;
                        }
                        return 0;
                    });

                    if (criteria === 'manufacturer' || criteria === 'type') {
                        // Toggle sort order for manufacturer and type (asc/desc)
                        sortOrder[criteria] = sortOrder[criteria] === 'asc' ? 'desc' : 'asc';
                    }

                    // Hide the sort options
                    document.getElementById('sort-options-container').classList.add('hidden');

                    // display sorted items
                    const container = document.getElementById('drones-list');
                    container.innerHTML = '';
                    itemsArray.forEach(item => container.appendChild(item));
                }


                // Custom JavaScript to handle modal toggle
                document.addEventListener('DOMContentLoaded', function () {
                    const modalToggleButtons = document.querySelectorAll('[data-modal-toggle]');
                    const modalHideButtons = document.querySelectorAll('[data-modal-hide]');
                    const modals = document.querySelectorAll('.hidden');
                    const modalBody = document.getElementById('modal-body');
                    const modalFooter = document.getElementById('modal-footer');
                    const bookNowButton = document.getElementById('book-now-button');
                    const orderButton = document.getElementById('order-button');
                    const homeButton = document.getElementById('home-button');

                    const initialModalBodyContent = modalBody.innerHTML;
                    const initialModalFooterContent = modalFooter.innerHTML;

                    // Add click event listener to each "Details" button
                    modalToggleButtons.forEach(function (button) {
                        button.addEventListener('click', function () {
                            // Show the modal
                            document.getElementById('drone-modal').classList.remove('hidden');
                        });
                    });

                    // Add click event listener to each "Close" button
                    modalHideButtons.forEach(function (button) {
                        button.addEventListener('click', function () {
                            // Hide the modal
                            document.getElementById('drone-modal').classList.add('hidden');
                        });
                    });

                    function reassignEventListeners() {
                        bookNowButton.addEventListener('click', function () {
                            modalBody.innerHTML = `
                <div class="bg-gray-200 text-center py-10 rounded-lg">
                    <p class="text-lg">Order Template</p>
                </div>
                `;
                            bookNowButton.style.display = 'none';
                            orderButton.style.display = 'block';
                            homeButton.style.display = 'none';
                        });

                        orderButton.addEventListener('click', function () {
                            modalBody.innerHTML = `
                <div class="bg-gray-200 text-center py-10 rounded-lg">
                    <p class="text-lg">Order Confirmation</p>
                </div>
                `;
                            orderButton.style.display = 'none';
                            homeButton.style.display = 'block';
                        });

                        homeButton.addEventListener('click', function () {
                            window.location.href = '/map';
                        });
                    }

                    modalToggleButtons.forEach(button => {
                        button.addEventListener('click', function () {
                            const targetModalId = button.getAttribute('data-modal-target');
                            const targetModal = document.getElementById(targetModalId);
                            if (targetModal) {
                                targetModal.classList.remove('hidden');
                                targetModal.classList.add('flex');
                            }
                        });
                    });

                    modalHideButtons.forEach(button => {
                        button.addEventListener('click', function () {
                            const targetModalId = button.getAttribute('data-modal-hide');
                            const targetModal = document.getElementById(targetModalId);
                            if (targetModal) {
                                targetModal.classList.add('hidden');
                                targetModal.classList.remove('flex');
                                // Reset modal content to initial state
                                modalBody.innerHTML = initialModalBodyContent;
                                modalFooter.innerHTML = initialModalFooterContent;
                                // Reassign event listeners after resetting content
                                reassignEventListeners();
                            }
                        });
                    });

                    // Initial assignment of event listeners
                    reassignEventListeners();
                });
            </script>

            <%- include('templates/footer') %>